#  To use test.pypi.org you you should swap they publish command for these two lines
#
#        poetry config repositories.testpypi https://test.pypi.org/legacy/
#        poetry publish --repository testpypi --username __token__ --password ${{ secrets.PYPI_API_TOKEN }}

name: Publish to PyPI

on:
  release:
    types: [created]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
    - name: Build and publish
      run: |
        poetry version $(git describe --tags --abbrev=0)
        poetry build
        poetry publish --username __token__ --password ${{ secrets.PYPI_API_TOKEN }}
